[Unit]
Description=Flask authentication app
After=network.target

[Service]
User=root

WorkingDirectory={{ app_path }}
ExecStart={{ venv_path }}/bin/python3 main.py

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
