[Unit]
Description=Flask authentication app docker compose
After=network.target

[Service]
User={{ user }}

WorkingDirectory=/srv
ExecStart=/bin/bash -c "docker compose -f /srv/docker-compose.yml up"

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
